.SetMainLayout {
  padding: 10px 15px;
  border-radius: 25px;
  margin: 5px 14px 5px 0px;
  flex: 0 0 16%;
}

#dark .SetMainLayout {
  background-color: #414867;
}

#light .SetMainLayout {
  background-color: #ffffff;
}

.Home .SetMainLayout .avatar {
  margin: 0;
}

.Home .SetMainLayout {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  /* justify-content: flex-end; */
}

.Home .SetMainLayout-footer {
  margin-top: 0;
  justify-self: end;
  margin: 0 !important;
}

.SetMainLayout-addons-numCards {
  padding: 5px 5px;
  border-radius: 0.5rem;
}

#dark .SetMainLayout-addons-numCards {
  background-color: rgba(255, 255, 255, 20%);
}

#light .SetMainLayout-addons-numCards {
  background-color: rgba(82, 113, 255, 10%);
}

.Home .SetMainLayout-addons {
  margin-bottom: 30px;
}

/* .Home .SetMainLayout-footer-pfp {
  display: flex;
  align-items: flex-end;
} */

.SetMainLayout-name {
  display: flex;
  font-size: 20px;
}

.SetMainLayout-addons {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin-top: 5px;
  width: 100%;
}

.SetMainLayout-footer {
  display: flex;
  margin-top: 30px;
  gap: 5px;
  align-items: end;
  position: relative;
  top: 10px;
}

.SetMainLayout-footer-username {
  margin-bottom: 10px;
}

.fa-star {
  font-size: 13px;
  margin-right: 1px;
}

.SetMainLayout:hover {
  cursor: pointer;
}

.SetMainLayout-footer-pfp {
  margin-bottom: 5px;
}

#dark .SetMainLayout-star-wrapper > i {
  color: #ffffff;
}

#light .SetMainLayout-star-wrapper > i {
  color: #ffd700;
}
