.SetMainLayout {
  padding: 10px 15px;
  /* background-color: #a1a5b5; */
  background-color: #414867;
  border-radius: 25px;
  margin: 5px 14px 5px 0px;
  flex: 0 0 16%;
}

.Home .SetMainLayout .avatar {
  margin: 0;
}

.Home .SetMainLayout {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  /* justify-content: flex-end; */
}

.Home .SetMainLayout-footer {
  margin-top: 0;
  justify-self: end;
  margin: 0 !important;
}

.Home .SetMainLayout-addons {
  margin-bottom: 30px;
}

/* .Home .SetMainLayout-footer-pfp {
  display: flex;
  align-items: flex-end;
} */

.SetMainLayout-name {
  display: flex;
  font-size: 20px;
}

.SetMainLayout-addons {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin-top: 5px;
  width: 100%;
}

.SetMainLayout-footer {
  display: flex;
  margin-top: 30px;
  gap: 5px;
  align-items: end;
  position: relative;
  top: 10px;
}

.SetMainLayout-footer-username {
  margin-bottom: 10px;
}

.fa-star {
  font-size: 13px;
  margin-right: 1px;
}

.SetMainLayout:hover {
  cursor: pointer;
}

/* .SetMainLayout-footer-pfp {
  position: relative;
} */
