/* .SignUpPage {
  background-image: url("https://media.discordapp.net/attachments/934145502252003410/1131398837672607784/1.png?width=1900&height=1068");
  width: 100vw;
  height: 100vh;
  position: relative;
} */

/* .SignUp-div {
  background-color: #586380;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  text-align: center;
} */

.SignUpPage-header {
  font-size: 35px;
  padding: 10px 100px;
  margin-bottom: 10px;
}

.SignUpPage-input-wrapper {
  border-radius: 15px;
  padding: 8px 10px;
  width: 80%;
  margin: 0 auto 10px;
  text-align: center;
}

#dark .SignUpPage-input-wrapper,
#dark .SignUpPage-inputs {
  background-color: #a1a5b5;
}

#light .SignUpPage-input-wrapper {
  background-color: rgba(232, 232, 232, 0.5);
}

#light .SignUpPage-inputs {
  background-color: transparent;
  color: rgb(70, 70, 70);
}

.SignUpPage-inputs {
  border: none;
  text-align: center;
  color: white;
  font-size: 16px;
  width: 100%;
}

.SignUpPage-inputs:focus {
  outline: none;
}

#dark .SignUpPage-inputs::-webkit-input-placeholder {
  text-align: center;
  color: rgb(232, 230, 230);
}

#light .SignUpPage-inputs::-webkit-input-placeholder {
  text-align: center;
  color: rgba(70, 70, 70, 60%);
}

.SignUpPage-button-wrapper {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: center;
}

.SignUpPage-button {
  border-radius: 20px;
  border: none;
  padding: 7px 20px;
  font-size: 16px;
  margin: 20px 5px;
  cursor: pointer;
  color: white;
}

#dark .SignUpPage-button {
  background-color: #a1a5b5;
}
#light .SignUpPage-button {
  background-color: rgba(82, 113, 255, 10%);
  color: rgb(70, 70, 70);
}

#light .formError,
#dark .formError {
  border: 1px red solid;
}

#light .formError > input,
#dark .formError > input {
  color: red;
}

#light .Required::placeholder,
#dark .Required::placeholder {
  color: red;
}

.SignUpPage-login-btn {
  position: absolute;
  bottom: -20px;
  right: 10px;
  cursor: pointer;
}

#dark .SignUpPage-login-btn {
  color: #ffffff;
}

#light .SignUpPage-login-btn {
  color: black;
}
