.YourFolders {
  padding: 20px 150px;
  min-height: 100vh;
}

#light .YourFolders {
  color: rgb(70, 70, 70);
}

#dark .YourFolders {
  background-color: #0a092d;
}

#light .YourFolders {
  background-color: rgba(232, 232, 232, 0.5);
}

.YourFolders-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#dark .YourFolders-header {
  color: #ffffff;
}

#light .YourFolders-header {
  color: rgb(70, 70, 70);
}

.YourFolders-header-title {
  font-size: 25px;
}

@media (min-height: 1100px) {
  .YourFolders {
    min-height: 800px;
  }
}
