.YourFolders {
  padding: 10px 150px;
  min-height: 100vh;
}

.YourFolders-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.YourFolders-header-title {
  font-size: 25px;
}

@media (min-height: 1500px) {
  .YourFolders {
    min-height: 1000px;
  }
}
