.SetForm {
  padding: 10px 200px;
  width: 1009px;
  min-height: 100vh;
  margin: auto;
  /* background-color: black; */
}

#dark .SetForm {
  background-color: #0a092d;
}

#light .SetForm {
  background-color: rgba(232, 232, 232, 0.5);
  color: rgb(70, 70, 70);
}

.SetForm-header {
  font-size: 20px;
  margin-bottom: 15px;
}

#dark .SetForm-header {
  color: #ffffff;
}

#light .SetForm-header {
  color: #5271ff;
}

.SetForm-inputs {
  /* background-color: #0a092d; */
  border: none;
  /* border-bottom: 4px #747c92 solid; */
  width: 50%;
  margin-bottom: 7px;
}

#dark .SetForm-inputs {
  background-color: #0a092d;
  border-bottom: 4px solid #747c92;
  color: white;
}

#light .SetForm-inputs {
  background-color: rgba(232, 232, 232, 0.5);
  border-bottom: 2px #5271ff solid;
  color: black;
}

.SetForm-inputs:focus {
  outline: none;
}

.SetForm-input-wrapper {
  margin-bottom: 15px;
}

.SetForm-input-lables {
  font-size: 13px;
  color: #586380;
}

.SetForm-addCard {
  display: flex;
  justify-content: center;
  margin: 30px 0 10px;
  text-decoration: underline;
  font-size: 23px;
  padding-bottom: 2px;
  cursor: pointer;
}

#dark .SetForm-addCard {
  color: #ffffff;
}

#light .SetForm-addCard {
  color: #5271ff;
}

.SetForm-CreateCard,
.SetForm-EditCard {
  color: white;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
}

#dark .SetForm-CreateCard,
#dark .SetForm-EditCard {
  /* background-color: #a1a5b5; */
  background-color: #414867;
}

#light .SetForm-CreateCard,
#light .SetForm-EditCard {
  background-color: #5271ff;
}

.SetForm-CreateCard:hover,
.SetForm-EditCard:hover {
  cursor: pointer;
}

.SetForm-button-wrapper {
  display: flex;
  justify-content: end;
  gap: 5px;
}

.Required::placeholder {
  color: red;
}

.SetForm-length-error {
  color: red;
}
