.FolderSingleView {
  padding: 20px 150px;
  min-height: 100vh;
  /* background-color: black; */
}

#dark .FolderSingleView {
  background-color: #0a092d;
  color: #ffffff;
}

#light .FolderSingleView {
  background-color: rgba(232, 232, 232, 0.5);
  color: rgb(70, 70, 70);
}

.FolderSingleView-header {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
}

.FolderSingleView-header-title {
  font-size: 30px;
}

.FolderSingleView-header-title-icon {
  margin-right: 10px;
}

.fa-circle-folder-singleView,
.fa-ellipsis-folder-singleView {
  border-radius: 50%;
  border: rgb(70, 70, 70) 2px solid;
  width: 35px;
  height: 35px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dark .fa-circle-folder-singleView,
#dark .fa-ellipsis-folder-singleView {
  border: #ffffff 2px solid;
}

#light .fa-circle-folder-singleView,
#light .fa-ellipsis-folder-singleView {
  border: rgb(70, 70, 70) 2px solid;
}

.fa-circle-folder-singleView:hover,
.fa-ellipsis-folder-singleView:hover {
  background-color: rgba(255, 255, 255, 15%);
  cursor: pointer;
}

.FolderSingleView-option-wrapper {
  display: flex;
  gap: 10px;
  position: relative;
  padding-bottom: 5px;
}

.No-Folders {
  margin: auto;
  width: 50%;
  text-align: center;
  margin-top: 100px;
}

.No-Folders-title {
  font-size: 30px;
  margin-bottom: 15px;
}

.No-Folders-btn {
  padding: 10px 15px;
  margin-top: 15px;
  background-color: #7dd;
  border: none;
  border-radius: 0.25rem;
}

.No-Folders-btn:hover {
  cursor: pointer;
}

.AddSet-Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.AddSet-Header-title {
  margin: 0;
  font-size: 30px;
}

.AddSet-Header-exit {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dark .AddSet-Header-exit {
  background: #1a1d28;
}

#light .AddSet-Header-exit {
  background-color: rgba(232, 232, 232, 0.5);
}

.AddSet-Header-exit:hover {
  cursor: pointer;
}

.AddSet-createSet-wrapper {
  padding: 20px 200px;
  max-width: 200px;
}

#dark .AddSet-createSet-wrapper {
  background-color: #1a1d28;
}

#light .AddSet-createSet-wrapper {
  background-color: rgba(232, 232, 232, 0.5);
}

.AddSet-createSet-wrapper:hover {
  cursor: pointer;
}

.AddSet-createSet-wrapper:hover .AddSet-createSet-bar {
  background-color: #ffcd1f;
}

.AddSet-createSet {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 18px;
}

.fa-plus-AddSet {
  font-size: 10px;
}

.AddSet-createSet-bar {
  width: 100%;
  height: 5px;
  background-color: #7dd;
  margin-top: 5px;
}

.AddSet-dropdown-wrapper {
  width: fit-content;
  padding-right: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#dark .AddSet-dropdown-wrapper {
  background-color: #1a1d28;
}

#light .AddSet-dropdown-wrapper {
  background-color: rgba(232, 232, 232, 0.5);
}

.AddSet-dropdown {
  padding: 10px 20px;
  border: none;
}

#dark .AddSet-dropdown {
  background-color: #1a1d28;
  color: #7dd;
}

#light .AddSet-dropdown {
  background-color: rgba(232, 232, 232, 0.5);
  color: rgb(70, 70, 70);
}

.AddSet-dropdown:hover {
  cursor: pointer;
}

.AddSet-dropdown-wrapper:hover {
  cursor: pointer;
}

.AddSet-dropdown-wrapper:hover .AddSet-dropdown {
  color: #ffcd1f;
}

.AddSet-dropdown:focus {
  outline: none;
}

.AddSet-set {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  margin-bottom: 10px;
  height: 50px;
}

#dark .AddSet-set {
  background-color: #1a1d28;
}

#light .AddSet-set {
  background-color: rgba(232, 232, 232, 0.5);
}

.AddSet-set-plus-wrapper {
  padding: 7px 12px;
  border-radius: 0.25rem;
  border: 1px #2e3856 solid;
}

#dark .AddSet-set-plus-wrapper.AddSet-set-plus-wrapper-inFolder {
  background-color: #ffcd1f;
}

#light .AddSet-set-plus-wrapper.AddSet-set-plus-wrapper-inFolder {
  background-color: #ffcd1f;
}

.AddSet-set-plus-wrapper:hover {
  cursor: pointer;
}

#dark .AddSet-set-plus-wrapper:hover .fa-plus-AddSet-set {
  color: #ffcd1f;
}

#light .AddSet-set-plus-wrapper:hover .fa-plus-AddSet-set {
  color: #ffcd1f;
}

#dark .fa-plus-AddSet-set {
  color: #7dd;
}

#light .fa-plus-AddSet-set {
  color: #7dd;
}

.fa-minus-AddSet-set {
  color: #1a1d28;
}
