.FolderSingleView {
  padding: 10px 60px;
  min-height: 100vh;
}

.FolderSingleView-header {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}

.FolderSingleView-header-title {
  font-size: 25px;
  font-weight: 600;
}
