.SetSingleView {
  padding: 10px 200px 100px;
  max-width: 1409px;
  margin: auto;
}

#dark .SetSingleView {
  background-color: #0a092d;
  color: #ffffff;
}

#light .SetSingleView {
  background-color: rgba(232, 232, 232, 0.5);
  color: rgb(70, 70, 70);
}

.SetSingleView-title {
  font-size: 32px;
  margin: 20px 0 5px 0;
  font-weight: 600;
}

.SetSingleView-rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 20px 1px;
  border-radius: 10px;
  width: fit-content;
  cursor: pointer;
}

#dark .SetSingleView-rating:hover {
  background-color: rgba(255, 255, 255, 20%);
}

#light .SetSingleView-rating:hover {
  background-color: rgba(255, 255, 255, 50%);
}

.SetSingleView-rating-star {
  margin-right: 2px;
  font-weight: 600;
}

#light .SetSingleView-rating-star {
  color: #ffd700;
}

.SetSingleView-rating-score {
  margin-right: 5px;
  font-weight: 600;
}

.SetSingleView-card {
  flex: 0 0 100%;
  height: 400px;
  border-radius: 25px;
  position: relative;
}

#dark .SetSingleView-card {
  background-color: #25284a;
}

#light .SetSingleView-card {
  background-color: #ffffff;
}

.SetSingleView-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 20px;
  padding: 0 40px;
}

.SetSingleView-card-header {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  padding: 30px 10px;
  position: absolute;
  top: 0;
  width: 100%;
}

.SetSingleView-slider {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.setSingleView-slider-controls {
  display: flex;
  position: relative;
}

.SetSingleView-slider::-webkit-scrollbar {
  display: none;
}

.SetSingleView-card-dropdown {
  font-size: 20px;
  margin-right: 10px;
  padding: 7px;
  border-radius: 0.5rem;
  cursor: pointer;
}

#dark .SetSingleView-card-dropdown {
  color: #ffffff;
  border: #ffffff solid 1px;
}

#light .SetSingleView-card-dropdown {
  border: rgb(70, 70, 70) solid 1px;
  color: rgb(70, 70, 70);
}

#dark .SetSingleView-card-dropdown:hover {
  background-color: rgba(255, 255, 255, 20%);
}

#light .SetSingleView-card-dropdown:hover {
  /* background-color: rgba(82, 113, 255, 10%); */
  background-color: rgba(255, 255, 255, 50%);
}

.SetSingleView-footer {
  display: flex;
  justify-content: end;
  position: relative;
  margin-top: 20px;
}

.setSingleView-slider-controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
  padding: 20px 0;
}

#dark .setSingleView-slider-controls {
  border-bottom: #ffffff solid 2px;
}

#light .setSingleView-slider-controls {
  border-bottom: rgb(70, 70, 70) solid 2px;
}

.setSingleView-slider-controls-NumSets {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.SetSingleView-card-hint {
  position: absolute;
  top: 15px;
  padding: 5px 10px;
}

#light .SetSingleView-card-hint {
  color: #5271ff;
}

.SetSingleView-card-hint:hover {
  cursor: pointer;
}

#dark .SetSingleView-card-hint:hover .fa-lightbulb {
  color: yellow;
}

#light .SetSingleView-card-hint:hover .fa-lightbulb {
  color: #ffd700;
}

.SetSingleView-card-hint.SetSingleView-card-header-hint {
  /* background-color: #5271ff; */
  padding: 5px 10px;
  min-width: 100px;
  border-radius: 1rem;
}

#light .SetSingleView-card-hint.SetSingleView-card-header-hint {
  background-color: rgba(232, 232, 232, 0.5);
}

#dark .SetSingleView-card-hint.SetSingleView-card-header-hint {
  background-color: #20232c;
}

.fa-lightbulb {
  margin-left: 5px;
}

.fa-arrow-right {
  cursor: pointer;
}

.setSingleView-arrow-holders {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#dark .setSingleView-arrow-holders {
  border: 1px #ffffff solid;
}

#light .setSingleView-arrow-holders {
  border: 1px rgb(70, 70, 70) solid;
}

#dark .setSingleView-arrow-holders:hover {
  background-color: rgba(255, 255, 255, 20%);
}

#light .setSingleView-arrow-holders:hover {
  background-color: rgba(255, 255, 255, 50%);
}

.setSingleView-arrow-holders1 {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-ellipsis {
  cursor: pointer;
}

@media (min-height: 1100px) {
  .SetSingleView {
    min-height: 800px;
  }
}

.move-left {
  animation-duration: 0.5s;
  animation-name: slideLeft;
}

@keyframes slideLeft {
  from {
    margin-left: -150px;
    margin-right: 150px;
  }

  to {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.move-right {
  animation-duration: 0.5s;
  animation-name: slideRight;
}

@keyframes slideRight {
  from {
    margin-left: 150px;
    margin-right: -150px;
  }

  to {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.text-to-speech {
  position: absolute;
  top: 25px;
  right: 40px;
  font-size: 18px;
}

#light .text-to-speech > i {
  color: #5271ff;
}

.text-to-speech:hover {
  cursor: pointer;
}
