.SetSingleView {
  padding: 10px 200px;
  max-width: 1409px;
  margin: auto;
}

.SetSingleView-title {
  font-size: 30px;
  margin: 20px 0 5px 0;
}

.SetSingleView-rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 20px 1px;
  border-radius: 10px;
  width: fit-content;
}

.SetSingleView-rating:hover {
  background-color: rgba(255, 255, 255, 20%);
  cursor: pointer;
}

.SetSingleView-rating-star {
  margin-right: 2px;
}

.SetSingleView-rating-score {
  margin-right: 5px;
}

.SetSingleView-card {
  flex: 0 0 100%;
  background-color: #25284a;
  height: 400px;
  border-radius: 25px;
  position: relative;
}

.SetSingleView-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  font-size: 20px;
  padding: 0 40px;
}

.SetSingleView-card-header {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  padding: 30px 10px;
}

.SetSingleView-slider {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.setSingleView-slider-controls {
  display: flex;
  position: relative;
}

.SetSingleView-slider::-webkit-scrollbar {
  display: none;
}

.SetSingleView-card-dropdown {
  font-size: 20px;
  margin-right: 10px;
}

.SetSingleView-footer {
  display: flex;
  justify-content: end;
  position: relative;
  margin-top: 20px;
}

.setSingleView-slider-controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
  padding: 20px 0;
  border-bottom: lightgray solid 2px;
}

.setSingleView-slider-controls-NumSets {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.SetSingleView-card-hint {
  position: absolute;
  top: 15px;
}

.fa-lightbulb {
  margin-left: 5px;
}

.fa-arrow-right {
  cursor: pointer;
}

.setSingleView-arrow-holders {
  border-radius: 50%;
  border: 1px white solid;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.setSingleView-arrow-holders:hover {
  background-color: rgba(255, 255, 255, 15%);
  cursor: pointer;
}

.setSingleView-arrow-holders1 {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-ellipsis {
  cursor: pointer;
}
