.Search {
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 100px;
  min-height: 100vh;
}

.Search-wrapper {
  width: 100%;
  height: 100%;
}

#dark .Search-wrapper {
  background-color: #0a092d;
  color: #ffffff;
}

#light .Search-wrapper {
  background-color: rgba(232, 232, 232, 0.5);
  color: rgb(70, 70, 70);
}

.Search-main-wrapper {
  display: flex;
}

.Search-sets {
  width: 372px;
}
.Search-results {
  font-size: 25px;
  padding: 20px 0 20px;
}

.Search-main-wrapper .SetMainLayout {
  width: 328px;
  border-radius: 15px;
  margin-bottom: 10px;
}

#dark .Search-main-wrapper .SetMainLayout {
  background-color: #2e3856;
}

.Search-main-wrapper .SetMainLayout-name {
  margin-top: 10px;
}
.Search-main-wrapper .SetMainLayout-addons {
  margin-top: 10px;
  justify-content: left;
  gap: 10px;
}

#dark .Search-main-wrapper .SetMainLayout-addons {
  color: #d9dde8;
}

.SetMainLayout-preview {
  border-radius: 5px;
  padding: 7px 10px;
  position: relative;
}

#dark .SetMainLayout-preview {
  color: white;
  background-color: #0a092d;
  border: white 1px solid;
}

#light .SetMainLayout-preview {
  background-color: white;
}

#dark .SetMainLayout-preview:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 2%);
}

#light .SetMainLayout-preview:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.02);
}

.SetMainLayout-preview-wrapper {
  justify-self: flex-end;
  justify-items: flex-end;
}

.Search .SetMainLayout-footer {
  margin-bottom: 10px;
}

.Search .SetMainLayout-footer > div:nth-child(3) {
  margin-left: auto;
}

.Search .SetMainLayout-footer > div {
  display: flex;
  align-self: center;
}

.Search .SetMainLayout-footer-username {
  height: fit-content;
  margin: 0;
}

.SetMainLayout-studiers {
  background-color: #edefff;
  border-radius: 1.5rem;
  border: none;
  color: #2e3856;
  padding: 3px 15px;
  margin: 7px 0 5px;
}

.Search-sets-title {
  font-size: 25px;
  margin: 10px 0 30px;
  min-width: 372px;
  position: relative;
}

.Search-prebiew-body {
  width: 100%;
  background-color: #2e3856;
  border-radius: 1rem;
  position: sticky;
  top: 20px;
  height: 88vh;
  padding: 25px;
}

#dark .Search-prebiew-body {
  background-color: #2e3856;
  color: #ffffff;
}

#light .Search-prebiew-body {
  background-color: #ffffff;
  color: rgb(70, 70, 70);
}

.Search-sets-title-wrapper {
  display: flex;
}

.search-preview-title {
  margin-left: 20px;
}

.Search-preview {
  width: 100%;
  margin-left: 20px;
  position: relative;
}

.Search-prebiew-body-title {
  font-size: 25px;
  font-weight: 600;
}

.Search-prebiew-body-study > button {
  background-color: #4255ff;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  min-height: 2.5rem;
  line-height: 1.4285714285714286;
  color: white;
}

.Search-prebiew-body-study > button:hover {
  cursor: pointer;
}

.Search-prebiew-body-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}

.Search-preview-body-answer {
  margin-bottom: 25px;
  font-size: 15px;
}

#dark .Search-preview-body-answer {
  color: #d9dde8;
}

#light .Search-preview-body-answer {
  color: #aeb1b8;
}

.Search-preview-body-question {
  margin-bottom: 10px;
  font-weight: 600;
}
