/* .profile-dropdown {
  position: absolute;
} */

.hidden {
  display: none;
}
.search {
  color: white;
  padding: 5px 10px;
}

a {
  color: white;
}

.nav-plus {
  color: #586380;
  margin: 5px 10px;
  font-size: 35px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.Nav {
  display: flex;
  justify-content: space-between;
  border-bottom: darkgray solid 2px;
  position: relative;
}

.Nav-links {
  display: flex;
  align-items: center;
}

.Navlink-unactive {
  padding: 10px;
  font-size: 18px;
  text-decoration: none;
}

.Nav-search-wrapper {
  display: flex;
  align-items: center;
}

.Nav-search {
  display: flex;
  align-items: center;
  background-color: #586380;
  border-radius: 5px;
}

.Nav-search > input {
  height: 15px;
  width: 200px;
  background-color: #586380;
  color: white;
  border: none;
}

.Nav-search > input:focus {
  outline: none;
}

.Nav-search > input::placeholder {
  color: white;
}

.Nav-search > input::selection {
  border: none;
}

.active {
  text-decoration: underline;
}
