/* .profile-dropdown {
  position: absolute;
} */

.hidden {
  display: none;
}

a {
  color: white;
}

.nav-plus {
  color: #586380;
  /* margin: 5px 10px; */
  font-size: 35px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.Nav {
  display: flex;
  justify-content: space-between;
  border-bottom: #25284a solid 2px;
  position: relative;
}

.Navigation-logo {
  font-size: 30px;
  font-weight: 900;
  margin: 0;
  cursor: pointer;
}

.Nav-links {
  display: flex;
  align-items: center;
}

.Navlink-unactive {
  padding: 10px;
  font-size: 18px;
  text-decoration: none;
  position: relative;
}

.Nav-search-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Nav-search {
  display: flex;
  align-items: center;
  background-color: #586380;
  border-radius: 2rem;
  width: 35px;
  padding: 0px;
  overflow-x: hidden;
  transition: width 1500ms;
}

.Nav-search:hover {
  width: 250px;
  border-radius: 20px;
}

.search {
  color: white;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  padding: 10px;
  margin: none;
}

.Nav-search > input {
  height: 15px;
  width: 0;
  display: block;
  background-color: #586380;
  color: white;
  border: none;
  /* transition: width 300ms; */
}

.Nav-search:hover > input {
  display: block;
  width: 200px;
  margin-left: 5px;
}

.Nav-search > input:focus {
  outline: none;
}

.Nav-search > input::placeholder {
  color: white;
}

.Nav-search > input::selection {
  border: none;
}

.active .Navlink-active-bar {
  width: calc(100% - 20px);
  height: 3px;
  background-color: #a8b1ff;
  position: absolute;
  bottom: 0;
  border-radius: 1rem 1rem 0 0;
}
