.Home {
  padding: 20px 40px 100px;
  max-width: 1409px;
  margin: auto;
  /* min-height: 100vh; */
}

#light .Home {
  background-color: rgba(232, 232, 232, 0.5);
  color: rgb(70, 70, 70);
}

#dark .Home {
  background-color: #0a092d;
  color: #ffffff;
}

.Home-achievements {
  font-size: 25px;
  margin: 15px 0;
  font-weight: 600;
}

#dark .Home-achievements {
  color: #ffffff;
}

#light .Home-achievements {
  color: rgb(70, 70, 70);
}

.home-studySet-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.home-studySet-createNewSet {
  margin: 15px 0;
}

#dark .home-studySet-createNewSet {
  color: #ffffff;
}

#light .home-studySet-createNewSet {
  color: #5271ff;
}

.home-studySet-createNewSet:hover {
  cursor: pointer;
}

@media (min-width: 2000px) and (min-height: 1400px) {
  .Home {
    max-width: none;
    width: 1800px;
    /* height: 900px; */
  }

  .Home .SetMainLayout {
    height: 170px;
  }

  .Home .SetMainLayout-name {
    font-size: 25px;
  }

  .Home .SetMainLayout-addons {
    font-size: 20px;
  }

  .Home .SetMainLayout-footer-username {
    font-size: 20px;
  }

  .Home .Achievements {
    font-size: 25px;
  }

  .Home .Home-achievements {
    font-size: 30px;
  }

  .Home .SetMainLayout .avatar {
    width: 50px;
    height: 50px;
  }

  .Home .home-studySet-createNewSet {
    font-size: 20px;
  }

  .Home-loadingScreen {
    max-width: none;
    width: 1800px;
    height: 800px;
  }
}

.Home-loadingScreen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
