.Home {
  padding: 20px 40px;
  max-width: 1409px;
  margin: auto;
  /* min-height: 100vh; */
}

.Home-achievements {
  font-size: 25px;
  margin: 15px 0;
}

.home-studySet-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.home-studySet-createNewSet {
  margin: 15px 0;
}

.home-studySet-createNewSet:hover {
  cursor: pointer;
}

@media (min-width: 2000px) and (min-height: 1400px) {
  .Home {
    max-width: none;
    width: 1800px;
    /* height: 900px; */
  }

  .Home .SetMainLayout {
    height: 170px;
  }

  .Home .SetMainLayout-name {
    font-size: 25px;
  }

  .Home .SetMainLayout-addons {
    font-size: 20px;
  }

  .Home .SetMainLayout-footer-username {
    font-size: 20px;
  }

  .Home .Achievements {
    font-size: 25px;
  }

  .Home .Home-achievements {
    font-size: 30px;
  }

  .Home .SetMainLayout .avatar {
    width: 50px;
    height: 50px;
  }

  .Home .home-studySet-createNewSet {
    font-size: 20px;
  }
}
