.YourSets {
  padding: 10px 150px;
  min-height: 100vh;
}

.YourSets-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.YourSets-header-title {
  font-size: 25px;
}

@media (min-height: 1100px) {
  .YourSets {
    min-height: 800px;
  }
}
