.YourSets {
  padding: 20px 150px;
  min-height: 100vh;
}

#dark .YourSets {
  background-color: #0a092d;
  color: #ffffff;
}

#light .YourSets {
  background-color: rgba(232, 232, 232, 0.5);
  color: rgb(70, 70, 70);
}

.YourSets-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#dark .YourSets-header {
  color: #ffffff;
}

#light .YourSets-header {
  color: rgb(70, 70, 70);
}

.YourSets-header-title {
  font-size: 25px;
}

@media (min-height: 1100px) {
  .YourSets {
    min-height: 800px;
  }
}
