.CardForm {
  border-radius: 25px;
  margin: 10px auto;
}

#dark .CardForm {
  background-color: #25284a;
}

#light .CardForm {
  background-color: #ffffff;
  color: rgb(70, 70, 70);
}

.CardForm-inputs {
  border: none;
  width: 90%;
  margin-bottom: 7px;
  padding-bottom: 3px;
}

#dark .CardForm-inputs {
  background-color: #25284a;
  border-bottom: 4px #747c92 solid;
  color: white;
}

#light .CardForm-inputs {
  background-color: #ffffff;
  border-bottom: 4px #5271ff solid;
  color: black;
}

#dark .CardForm-inputs::placeholder {
  color: rgba(255, 255, 255, 50%);
}

#light .CardForm-inputs::placeholder {
  color: rgb(70, 70, 70);
}

.CardForm-inputs:focus {
  outline: none;
}

.CardForm-header {
  display: flex;
  width: 95%;
  margin: auto;
  padding-top: 5px;
  justify-content: space-between;
  font-size: 17px;
}

.CardForm-divider {
  height: 3px;
  width: 100%;
  margin: 4px 0 10px 0;
}

#light .CardForm-divider {
  /* background-color: #5271ff; */
  background-color: rgba(232, 232, 232, 0.5);
}

#dark .CardForm-divider {
  background-color: #0a092d;
}

.CardForm-Input-wrappers {
  display: flex;
  gap: 7px;
  width: 95%;
  margin: auto;
  padding-bottom: 10px;
}

.CardForm-Input-wrappers > div {
  width: 100%;
}

.CardForm-inputs-labels {
  font-size: 13px;
}

#dark .CardForm-inputs-labels {
  color: #747c92;
}

#light .CardForm-inputs-labels {
  color: #747c92;
}

#dark .fa-trash-can {
  color: white;
}

#light .fa-trash-can {
  color: rgb(70, 70, 70);
}

#dark .fa-trash-can:hover,
#light .fa-trash-can:hover {
  color: red;
  cursor: pointer;
}

.Required::placeholder {
  color: red;
}
