.SetWrapper {
  padding: 10px;
  border-radius: 15px;
  display: flex;
  position: relative;
}

.slider {
  display: flex;
  width: 95%;
  margin: auto;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider-controls-next {
  height: 100%;
  margin: auto 0px;
  font-size: 20px;
  cursor: pointer;
}

.slider-controls-prev {
  height: 100%;
  margin: auto 0px;
  font-size: 20px;
  cursor: pointer;
}
