.SetWrapper {
  padding: 10px;
  border-radius: 15px;
  display: flex;
  position: relative;
}

.slider {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  scroll-behavior: smooth;
  overflow: hidden;
}
