/* .LoginPage {
  background-image: url("https://media.discordapp.net/attachments/934145502252003410/1131398837672607784/1.png?width=1900&height=1068");
  width: 100vw;
  height: 100vh;
  position: relative;
} */

/* .Login-div {
  background-color: #586380;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  text-align: center;
} */

.LoginPage-header {
  font-size: 35px;
  padding: 10px 100px;
  margin-bottom: 10px;
}

.LoginPage-input-wrapper {
  border-radius: 15px;
  padding: 8px 10px;
  width: 80%;
  margin: 0 auto 10px;
  text-align: center;
}

#dark .LoginPage-input-wrapper {
  background-color: #a1a5b5;
}

#light .LoginPage-input-wrapper {
  background-color: rgba(232, 232, 232, 0.5);
}

.LoginPage-inputs {
  border: none;
  text-align: center;
  color: white;
  font-size: 16px;
}

#dark .LoginPage-inputs {
  background-color: #a1a5b5;
}

#light .LoginPage-inputs {
  background-color: rgba(232, 232, 232, 0.5);
  color: rgb(70, 70, 70);
}

.LoginPage-inputs:focus {
  outline: none;
}

#dark .LoginPage-inputs::-webkit-input-placeholder {
  text-align: center;
  color: rgb(232, 230, 230);
}

#light .LoginPage-inputs::-webkit-input-placeholder {
  text-align: center;
  color: rgba(70, 70, 70, 70%);
}

.LoginPage-btn-wrapper {
  margin: auto;
  display: flex;
  justify-content: center;
  margin: 20px auto 20px;
  width: 85%;
  justify-content: space-between;
}

.LoginPage-button {
  border-radius: 20px;
  border: none;
  padding: 7px 20px;
  font-size: 16px;
  width: 49%;
  cursor: pointer;
}

#dark .LoginPage-button {
  background-color: #a1a5b5;
  color: #ffffff;
}

#light .LoginPage-button {
  background-color: rgba(82, 113, 255, 10%);
  color: rgb(70, 70, 70);
}

#light .passwordError,
#dark .passwordError {
  border: 1px red solid;
  color: red;
}

#light .passwordError > input,
#dark .passwordError > input {
  color: red;
}

#light .usernameError,
#dark .usernameError {
  border: 1px red solid;
}

#light .usernameError > input,
#dark .usernameError > input {
  color: red;
}

#light .Required::placeholder,
#dark .Required::placeholder {
  color: red;
}

.LoginPage-signupbtn {
  position: absolute;
  bottom: -20px;
  /* margin-top: 5px; */
  right: 10px;
}

.LoginPage-signupbtn > div {
  /* text-decoration: underline; */
  display: flex;
  cursor: pointer;
  justify-content: flex-end;
}

#dark .LoginPage-signupbtn > div {
  color: #ffffff;
}

#light .LoginPage-signupbtn > div {
  color: black;
}
