.OptionsForSet {
  margin-bottom: 20px;
}

.OptionsForSet-option {
  display: flex;
  width: 20%;
  border-radius: 10px;
  align-items: center;
  cursor: pointer;
  position: relative;
}

#dark .OptionsForSet-option {
  background-color: #25284a;
}

#light .OptionsForSet-option {
  background-color: #ffffff;
  color: #5271ff;
}

.OptionsForSet-option-hover {
  height: 5px;
  background-color: lightblue;
  position: absolute;
  width: 100%;
  bottom: 0;
  border-radius: 0 0 10px 10px;
}

.OptionsForSet-option-icon {
  padding: 15px;
  font-size: 20px;
  /* color: #7748c4f2; */
}

.OptionsForSet-option-text {
  font-weight: 600;
}
