.menu {
  border-radius: 20px;
  border: lightgray solid 1px;
  position: absolute;
  z-index: 1;
  padding: 10px;
  background-color: #0a092d;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 5px 30px 5px 0;
  gap: 5px;
}
