.CreateFolder-header {
  font-size: 30px;
  padding-bottom: 10px;
}

.CreateFolder {
  width: 800px;
}

.CreateFolder-input-title,
.CreateFolder-input-description {
  border: none;
  padding: 10px;
  border-radius: 10px;
  width: 95%;
  font-size: 17px;
  margin-bottom: 10px;
  color: white;
}

#dark .CreateFolder-input-title,
#dark .CreateFolder-input-description {
  background-color: rgb(21, 18, 59);
}

#light .CreateFolder-input-title,
#light .CreateFolder-input-description {
  background-color: #a0b1ff;
}

#light .CreateFolder-input-title::placeholder,
#light .CreateFolder-input-description::placeholder {
  color: rgba(255, 255, 255, 80%);
}

.CreateFolder-input-title:focus {
  outline: none;
  box-shadow: white 0 1px 0px;
}

.CreateFolder-input-description:focus {
  outline: none;
  box-shadow: blue 0 1px 0px;
}

.CreateFolder-button-wrapper {
  padding-top: 10px;
  margin-top: 30px;
  display: flex;
  justify-content: end;
  border-top: 1px solid gray;
}

.CreateFolder-button-wrapper > button {
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

#dark .CreateFolder-button-wrapper > button {
  background-color: #414867;
}

#light .CreateFolder-button-wrapper > button {
  background-color: #a0b1ff;
}

.Required::placeholder {
  color: red;
}

.CreateFolder-toolong {
  color: red;
}
